:root{
    --primary: #D081F4
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: urbanist;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--primary);
    align-items: center;
}
.imagem-logo{
    width: 150px;
    height: 75px;
}
.icones{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    width: 175px
}
.icone{
    width: 30px;
    height: 30px;
}

.top, .content{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

.menu{
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
    padding: 0.75em 2em;
    border-radius: 100vw;
    font-weight: bold;
    border:0;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--primary);
    color: #fff;
}

.pesquisa{
    background-color: #cfcfcf;
    border: 0;
    border-radius: 100vw;
    text-align: center;
    padding: 0.75em 2em;
    font-size: 1rem;
    font-weight: 600;
    min-width: 50%;
}

.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
}

@media (max-width:600px){
    .produtos{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:400px){
    .produtos{
        grid-template-columns: 1fr;
        width: 100%
    }
}

.produto{
    margin-top:4em
}

.produto>img{
    border: solid black 1px;
    max-width: 300px;
    width: 200px;
    max-height: 150px;
    object-fit: cover;
}

.descricao{
    width: 200px;
}

.content:has(.produtos){
    margin-top: 4em ;
}